.app-wrapper {
  display: flex;
  background-image: url("./images/bg-pattern-desktop.svg");
  background-repeat: no-repeat;
}

.text-content {
  width: 50%;
  padding: 3rem 6rem 0rem 6rem;
}

.header {
  margin-top: 7rem;
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 1rem;
  color: hsl(0, 6%, 24%);
}

.header-part-1 {
  color: hsl(0, 36%, 70%);
}

.para {
  margin-top: 1rem;
  font-size: 1.1rem;
  color: hsl(0, 36%, 70%);
  line-height: 2rem;
}

.img-container {
  width: 50%;
  height: 100vh;
}

.img-container img {
  width: 100%;
  height: inherit;
}

.mobile {
  display: none;
}

@media screen and (max-width: 900px) {
  .app-wrapper {
    padding-bottom: 2rem;
    background-image: none;
    flex-direction: column-reverse;
  }

  .img-container {
    height: auto;
  }

  .mobile {
    width: 45%;
    padding: 2rem;
    display: block;
  }

  .collapse {
    display: none;
  }

  .text-content {
    width: 90%;
    padding: 0;
    margin: auto;
  }

  .header,
  .para {
    text-align: center;
  }

  .img-container {
    width: 100%;
  }
}
